<div class="basic">
  <div id="wrapper">
    <h1>PopCorn and Chill</h1>
    <div class="gif"><img class="front" src="https://media.giphy.com/media/10Shl99Vghh5aU/giphy.gif" alt="gid"></div><!--
--><div class="gif"><img  class="front" src="http://media2.giphy.com/media/BmTGK0Z986N7q/giphy.gif" alt=""></div><!--
--><div class="gif"><img class="front" src="https://s-media-cache-ak0.pinimg.com/originals/67/b7/b7/67b7b7edc62b586862a8a25f56d38446.gif" alt=""></div><!--
--><div class="gif"><img class="front" src="http://media2.giphy.com/media/QOMIDxwVWZHWM/giphy.gif" alt=""></div><!--
--><div class="gif"><img class="front" src="http://media2.giphy.com/media/e4dreFR8443te/giphy.gif" alt=""></div><!--
--><div class="gif"><img class="front" src="http://media1.giphy.com/media/K5CULzwBU03HG/giphy.gif" alt=""></div><!--
--><div class="gif"><img class="front" src="http://i.imgur.com/yKYHiEF.gif?noredirect" alt=""></div><!--
--><div class="gif"><img class="front" src="https://media.tenor.co/images/54451401d52c0dd2fe9ee5752857d53c/tenor.gif" alt=""></div><!--
--><div class="gif"><img class="front" src="https://img.clipartfest.com/bb63ba7c29a64db2a555d7ce2fe30b47_go-on-become-a-backer-movie-clipart-animation_408-265.gif" alt=""></div><!--
--><div class="gif"><img class="front" src="https://img.clipartfest.com/bb63ba7c29a64db2a555d7ce2fe30b47_go-on-become-a-backer-movie-clipart-animation_408-265.gif" alt=""></div>
<!--
--><div class="gif"><img class="front" src="https://img.clipartfest.com/bb63ba7c29a64db2a555d7ce2fe30b47_go-on-become-a-backer-movie-clipart-animation_408-265.gif" alt=""></div>
<!--
--><div class="gif"><img class="front" src="https://img.clipartfest.com/bb63ba7c29a64db2a555d7ce2fe30b47_go-on-become-a-backer-movie-clipart-animation_408-265.gif" alt=""></div>
<!--
--><div class="gif"><img class="front" src="https://img.clipartfest.com/bb63ba7c29a64db2a555d7ce2fe30b47_go-on-become-a-backer-movie-clipart-animation_408-265.gif" alt=""></div>
<!--
--><div class="gif"><img class="front" src="https://img.clipartfest.com/bb63ba7c29a64db2a555d7ce2fe30b47_go-on-become-a-backer-movie-clipart-animation_408-265.gif" alt=""></div>
<!--
--><div class="gif"><img class="front" src="https://img.clipartfest.com/bb63ba7c29a64db2a555d7ce2fe30b47_go-on-become-a-backer-movie-clipart-animation_408-265.gif" alt=""></div>

  </div>
</div>
