<div class="homePage">
  <div id="homePageWrapper">
    <h1 class="fontItalic HomePageTitle">Welcome to <img src="../images/popcorn.gif"  alt="">And Chill</h1>

    <div class="gif"><img class="homePageImg" src="http://www.pngall.com/wp-content/uploads/2016/03/Batman-Super-Hero-PNG.png" alt="gid"></div><!--
    --><div class="gif"><img class="homePageImg" src="http://www.freepngimg.com/download/wolverine/3-2-wolverine-png-picture.png" alt=""></div><!--
  --><div class="gif"><img class="homePageImg" src="http://www.pngall.com/wp-content/uploads/2016/03/Batman-Joker-Smile-Vector-PNG.png" alt=""></div><!--
--><div class="gif"><img class="homePageImg" src="http://orig07.deviantart.net/7936/f/2016/098/3/8/superman_png_render_by_mrvideo_vidman-d9y5o16.png" alt=""></div><!--
--><div class="gif"><img class="homePageImg" src="https://s-media-cache-ak0.pinimg.com/originals/f8/fd/6a/f8fd6ae0f91f5ba739f3f2e1d6230cca.png" alt=""></div><!--
--><div class="gif"><img class="homePageImg" src="https://assets.facerepo.com/app/image/preview/don-minimal-by-axiom-148f78be1cc.png?v=148f78bdee0" alt=""></div><!--
--><div class="gif"><img class="homePageImg" src="http://www.pngall.com/wp-content/uploads/2016/05/Iron-Man-PNG-Image.png" alt=""></div><!--
--><div class="gif"><img class="homePageImg" src="http://www.pngall.com/wp-content/uploads/2016/05/Captain-America-PNG-HD.png" alt=""></div><!--
--><div class="gif"><img class="homePageImg" src="http://www.pngmart.com/files/2/Leonardo-DiCaprio-PNG-Free-Download.png" alt=""></div><!--
--><div class="gif"><img class="homePageImg" src="http://orig12.deviantart.net/3c04/f/2015/028/0/6/leonardo_render_by_quidek-d8ft8er.png" alt=""></div>
<!--
--><div class="gif"><img class="homePageImg" src="https://s-media-cache-ak0.pinimg.com/originals/d9/b0/1b/d9b01b15ace0321c3be4a80c12aacdd8.png" alt=""></div>
<!--
--><div class="gif"><img class="homePageImg" src="http://vignette4.wikia.nocookie.net/matrix/images/b/bb/Neo_main_page.png/revision/latest?cb=20130502002158" alt=""></div>
<!--
--><div class="gif"><img class="homePageImg" src="http://www.pngall.com/wp-content/uploads/2016/03/Star-Wars-Jedi-PNG.png" alt=""></div>
<!--
--><div class="gif"><img class="homePageImg" src="https://s-media-cache-ak0.pinimg.com/originals/18/ee/86/18ee86fd3759ed2f75a1c44170587991.png" alt=""></div>
<!--
--><div class="gif"><img class="homePageImg" src="http://vignette2.wikia.nocookie.net/moviepedia/images/3/3c/The_Mask_%28Jim_Carrey%29.png/revision/latest?cb=20150802181656" alt=""></div><!--
--><div class="gif"><img class="homePageImg" src="http://vignette2.wikia.nocookie.net/playstationallstarsbattleroyale/images/3/31/Chucky.png/revision/latest?cb=20150514014850" alt=""></div>
</div>
</div>
