<% if (locals.message) { %>
  <p><%= message %></p>
  <% } %>

  <div class="container fontSquare">
    <div class="jumbotron">
      <h3  class="text-center fontSquare"><span class="glyphicon glyphicon-search"></span>Search for any movies</h3>
      <form id="searchForm">
        <input type="text" class="form-control" id="searchText" placeholder="Search Movie">
      </form>
    </div>
  </div>


  <div class="container fontTitle">
    <div id="movies" class="row"></div>
  </div>
