<h1>Movies</h1>

<% movies.forEach(movie => { %>
  <div class="multiple-items">
   <div>
    <a href="/movies/<%= movie._id %>">
     <%= movie.name %>
   </a>
  </div>
    <div>
      <a href="/movies/<%= movie._id %>">
       <img src="<%= movie.image %>">
       </a>
    </div>
  </div>
  <% }); %>
