body {
  font-family: sans-serif;
  background: black;
}
#logo{
  width: 40px;
  margin-left: 10px;
}
#movies img, #movie img{
  width: 100%;
}

h1{
  text-align: center;
}
.form-horizontal{
  text-align: center;
  width: 200px;
  left: 50%;
}
.form {
  margin: auto;
  width: 50%;
}
.button{
  text-align: center;
}





@media (max-width: 960px) {
  #movies .col-md-3 .well{
    height: 390px;
    width: 200px;
  }
  #movies .col-md-3 img{
    height: 240px;
      width: 100px;
  }
  h1{
    font-size: 20px;
  }
}
