body {
  font-family: sans-serif;
  background: black;
  background: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel {
  width: 90%;
  margin: 0 0 0 100px;
}
.movieName{
  font-size: 20px;
  text-decoration:  none;
}

.btn{
  font-size: 20px;
}
h1{
  text-align: center;
}
#logo{
  height :50px;
  margin: -15px auto;
}
.logo{
  font-size: 50px;
}
.fontSquare{
  font-family: 'Electrolize', sans-serif;
}
.fontItalic{
  font-family: 'Pacifico', cursive;

}
.navList{
  font-size: 35px;
}
.list-group-item{
  font-size: 20px;
}
.fontSize{
  font-size: 20px;

}
textarea {
  resize: vertical;
  max-height: 100px;
  min-height: 50px;
}
h4{
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  color: grey;
  font-style: italic;
}
.movieLink{
  text-align: right;
  text-decoration: none;
  font-size: 30px;
}
.showImg{
width: 400px;
height: 400px;
}
label{
  font-size: 20px;
  color: #42b9f4;
}
.form-horizontal{
  text-align: center;
  width: 200px;
  left: 50%;
}
.underline{
  text-decoration: underline;
}
.form {
  margin: auto;
  width: 50%;
}

.button{
  text-align: center;
}

#homePageWrapper{
  text-align: center;
  display: inline-block;
  width: 1200px;
  margin: 0;
  // background-color: red;
}

.gif{
  display: inline-block ;
}

.homePageImg{
  opacity: 0;
  margin: 0;
  width: 200px;
  height: 200px;
}

.homePageImg:hover{
  opacity: 1;
}

.addButton{
  text-align: center;

}
#movies img, #movie img, #moviess img{
  width: 100%;
}
.homePage{
  text-align: center;
}


@media(max-width: 600px) {
  #homePageWrapper{
    text-align: left;
    margin: auto 30px;
  }
  h1{
    text-align: left;
    font-size: 20px;
    margin: auto 60px;
  }
  .gif{
    display: block;
    margin: auto 60px;

  }
  h4{
    display: none;
  }
  .addButton{
    left: 500px ;
    margin: auto 150px;
  }
}

@media(min-width: 700px) {

  #movies .col-md-3 .well{
    height: 400px;
  }

  #movies .col-md-3 img{
    height: 240px;
  }

}
